@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Parisienne&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Dosis', serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Parisienne', sans-serif;
	
}
h1 {
	font-size: 50px;
}

body {
	background-color: #eee3dd;
}